<footer class="section-padding--sm footer">
  <a class="footer__archive" href="{{ site.baseurl }}/archive/">Archive</a>
  <div id="copyright">
        <p id="course">中山大学南方学院 <a href = 'http://wcy.nfu.edu.cn/zh/教学教务/培养方案/网络与新媒体/'>网络与新媒体</a> 培养方案核心课程学期作品，由 <a href='http://wcy.nfu.edu.cn/zh/学院概况/师资队伍/廖汉腾/'>廖汉腾副教授</a> 指导<br/><center><small>Copyright &copy; 特效观测站 2018</small></center>
  </div>
  <ul class="footer__social">
    <li><a class="fa fa-lg fa-envelope-o" href="mailto:{{ site.email }}"></a></li>
    {% for social in site.social %}
      <li><a class="fa fa-lg fa-{{ social[0] }}" href="{{ social[1] }}" target="_blank"></a></li>
      <li><a class="fa fa-youtube-play" href="https://space.bilibili.com/2867458" target="_blank"></a></li>      
    {% endfor %}
  </ul>
</footer>
