<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="my portfolio">
    <meta name="author" content="Observer-L">
	<link rel="icon" type="image/png" href="/assets/images/base/favicon.png">
	<link rel="stylesheet" href="/assets/css/test.css">
    <title>作品集 | 林立</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!--     <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"> -->

    <!-- Plugin CSS -->
    <link href="/assets/css/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/assets/css/freelancer.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

      {{ content }}

  </body>
<!-- 
<a href="#0" class="cd-top">Top</a> -->
</html>
